@use "../defs.scss" as def;

.linkedin {
    background-image: url(../../img/index/icon-linkedin.png);

    @include def.hover-safe {
        &:hover {
            background-image: url(../../img/index/icon-linkedin-hover.png);
        }
    }
}

.github {
    background-image: url(../../img/index/icon-github.png);

    @include def.hover-safe {
        &:hover {
            background-image: url(../../img/index/icon-github-hover.png);
        }
    }

}

.mail {
    background-image: url(../../img/index/icon-mail.png);

    @include def.hover-safe {
        &:hover {
            background-image: url(../../img/index/icon-mail-hover.png);
        }
    }
}

.phone {
    background-image: url(../../img/index/icon-tel.png);

    @include def.hover-safe {
        &:hover {
            background-image: url(../../img/index/icon-tel-hover.png);
        }
    }
}

.resume {
    background-image: url(../../img/index/icon-resume.png);

    @include def.hover-safe {
        &:hover {
            background-image: url(../../img/index/icon-resume-hover.png);
        }
    }
}