@use '../defs.scss' as *;

.modeButton{

    background-image: url(../../img/header/dark-mode.png);

    &.white {
        background-image: url(../../img/header/dark-mode-white.png);
    }

    &.pinkMoon {
        @include hover-safe {
            &:hover {
                background-image: url(../../img/header/dark-mode-pink.png);
            }
        }
    }

    @include hover-safe {
        &:hover {
            background-image: url(../../img/header/dark-mode-hover.png);
        }
    }

}

:global(.dark) {

    .modeButton {

        background-image: url(../../img/header/light-mode.png);

        @include hover-safe {
            &:hover {
                background-image: url(../../img/header/light-mode-hover.png);
            }
        }
        
    }
}
