/* style minimal pour Shiki */
@layer utilities {

    div.code-container {

        .shiki {
    
            @apply
                block
                rounded-lg 
                px-2 py-[1px]
                text-[0.8em]
                focus:outline-none;
    
        }

        &:not(.inline-code) {

            @apply mx-auto w-full md:w-4/6;
    
            .shiki {
    
                counter-reset: line;
        
                @apply flex flex-col px-0 text-[0.9em]
                    rounded-none md:rounded-lg;

                    & > code {
                        @apply w-full 
                            overflow-x-auto overflow-y-hidden
                            pr-5 pb-2 box-border;
                    }
        
                    .line::before {
        
                        counter-increment: line;
                        
                        @apply
                            content-[counter(line)]
                            inline-block
                            w-[2em]
                            text-right
                            mr-4
                            opacity-50;
        
                    }
            }
    
            &.no-lines {
    
                .shiki {
    
                    & > code {
                        @apply ml-2;
                    }
    
                    .line::before {
    
                        @apply hidden;
    
                    }
    
                }
    
            }

        }

    }
}